[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ags"]
	path = ags
	url = https://github.com/sumtxt/ags
	shallow = true
	registered = true
[submodule "bonn"]
	path = bonn
	url = https://github.com/sumtxt/bonn
	shallow = true
	registered = true
[submodule "ivdesc"]
	path = ivdesc
	url = https://github.com/cran/ivdesc
	shallow = true
	registered = true
[submodule "missDiag"]
	path = missDiag
	url = https://github.com/sumtxt/missdiag
	shallow = true
	registered = true
[submodule "wiesbaden"]
	path = wiesbaden
	url = https://github.com/sumtxt/wiesbaden
	shallow = true
	registered = true
