[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "wiesbaden"]
	path = wiesbaden
	url = https://github.com/sumtxt/wiesbaden
	shallow = true
	registered = true
