[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ags"]
	path = ags
	url = https://github.com/sumtxt/ags
[submodule "bonn"]
	path = bonn
	url = https://github.com/sumtxt/bonn
[submodule "ivdesc"]
	path = ivdesc
	url = https://github.com/cran/ivdesc
[submodule "missDiag"]
	path = missDiag
	url = https://github.com/sumtxt/missdiag
